combined_dataset/
FireSmokeNEWdataset.v1i.yolov9/
violence-detection-dataset/
HackByte_Dataset/
HackByte_Dataset.zip
Hackathon_Dataset.zip
Anomalous Action Detection Dataset( Ano-AAD).zip
Anomalous Action Detection Dataset( Ano-AAD)/
.vscode/

venv/

__pycache__/